.ball{
	width:100px;
	height:100px;
	background:red;
	position:absolute;
}

#ball1{
	left:100px;
	top:100px;
}

#ball2{
	left:100px;
	top:300px;
}

#ball3{
	left:100px;
	top:500px;
}

#a1{
	width:200px;
	height:200px;
	border:1px solid red;
	position:absolute;
	left:500px;
	top:400px;
	
	
}
#a2{
	width:200px;
	height:200px;
	border:1px solid red;
	position:absolute;
	left:800px;
	top:400px;
	
	
}
#a3{
	width:200px;
	height:200px;
	border:1px solid red;
	position:absolute;
	left:800px;
	top:100px;
	
	
}