
body {
	margin: 0;
	padding: 0;
	background-image: url(img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

h1{
	text-align: center;
	font-size: 36pt;
	color: #EC0C1F;
	margin: 0;
	padding: 30px;
}

#mainScreen{
	width: 1920px;
	height: 1080px;	
}

.upper{
	width: 200px;
	height: 300px;
	margin: 0 auto;
}

.bottom{
	width: 700px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.cards{
    width: 192px;
	height: 262px;
}

.bottom_text{
	width: 700px;
	height: 50px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 24pt;
	color: #EC0C1F;
}

.buttons{
	width: 700px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}

#text_two{
	text-align: right;
	position: absolute;
	right: 0;
	//float: right;
}

.block_win{
	width: 250px;
	height: 50px;
	//margin: 0 auto;
	position: absolute;
    left: 280px;
    bottom: 220px;
}

#text_win{
	display: none;
	font-weight: 800;
	font-size: 24pt;
	color: #EC0C1F;
	//text-align: right;
	//position: absolute;
	//right: 0;
}

.button{
	font-size: 14pt;
	color: #EC0C1F;
	border-radius: 20px;
	width: 200px;
	height: 50px;
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); 
}

.buttonStart{
    position: absolute;
    left: 250px;
    bottom: 120px;
	/* position: relative;
	left: 55px;
	bottom: 90px; */
    font-size: 16pt;
    font-weight: 800;
}

.button1{
	position: absolute;
	left: 0;
}

.button2{
	position: absolute;
	right: 0;
}