#hero{
	position:fixed;
	left:500px;
	top:200px;
	width:200px;
	height:300px;
	background-image:url("img/hero.png");
	background-size:100%;
	background-repeat:no-repeat;
}
form{
	position:absolute;
	left:10px;
	top:20px;
	width:400px;
	height:300px;
	background:gold;
	padding:20px;
	border-radius:10px;
}
#push{
	position:absolute;
	left:150px;
	top:230px;
	
}
.gun{
	position:absolute;
	left:0px;
	top:-30px;
	width:200px;
	height:30px;
	/* background:red; */
	transform:rotate(-40deg);
	display:none;
}
/* #luk{
	background-image:url("img/hero.png");
	background-size:100%;
	background-repeat:no-repeat;
} */
#mech{
	background-image:url("img/mech.png");
	background-size:100%;
	background-repeat: no-repeat;
	
}
/* #palka{
	background-image:url("img/hero.png");
	background-size:100%;
	background-repeat:no-repeat;
} */





